* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#root::before {
  content: "";
  background-image: url("assets/images/list.svg");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  bottom: 5rem;
  right: -3rem;
  width: 100vw;
  max-width: 500px;
  height: 70vh;
  background-size: cover;
}

@media (min-width: 768px) {
  #root::before {
    bottom: 3rem;
    max-width: 800px;
  }
}
